# -indexing

In [3]:
# make a string

a = "Samosa Pakora"
a

'Samosa Pakora'

In [4]:
a

'Samosa Pakora'

In [9]:
#length of indeces
len(a)

13

In [5]:
a[0]

'S'

In [7]:
a[1]

'a'

In [8]:
a[2]

'm'

In [10]:
a[12]

'a'

In [11]:
a[0:5]

'Samos'

In [12]:
a[0:6]

'Samosa'

**when we count we count from 1 to 9**

**Python count from 0 to 9**

In [14]:
#last index is exclusive

a[0:13]

'Samosa Pakora'

In [15]:
a[0:12]

'Samosa Pakor'

In [16]:
a[-2]

'r'

In [17]:
a[-6:-1]

'Pakor'

**Thats why we find length of string**

In [18]:
a[-6:13]

'Pakora'

In [22]:
food = "biryani"
food

'biryani'

### String methods

In [23]:
food

'biryani'

In [21]:
len(food)

7

In [25]:
#capitalize every element

food.capitalize()

'Biryani'

In [26]:
#uppercase letters

food.upper()

'BIRYANI'

In [27]:
#lowercase letters

food.lower()

'biryani'

In [29]:
#Replace letters

food.replace("b","Sh")

'Shiryani'

In [31]:
#counting a specific alphabet in a string
name = "Hammad mubarik with aammar tufail"
name

'Hammad mubarik with aammar tufail'

In [32]:
name.count("m")

5

### -Finding an index number in string

In [33]:
name = "Hammad mubarik with aammar tufail"
name

'Hammad mubarik with aammar tufail'

In [36]:
#question how to find the index number of same i but in different name?

name.find("i")

12

### How to split a string

In [41]:
food = "I love samosa, pakora, biryani ,raita and chawal"
food

'I love samosa, pakora, biryani ,raita and chawal'

In [42]:
food.split(",")

['I love samosa', ' pakora', ' biryani ', 'raita and chawal']

---

# Basic  Data Structure in Python
 **1-Tuple**
 
 **2-List**

 **3-Dictionaries**

 **4-Set**

## 1-Tuple
- ordered collection of elements.
- enclosed in () round braces/paratheses.
- Dfferent kind of elements can be stored.
- once element is stored it cannot be changed (unmutatable)

**Element : integer or float or string or bolean  ( bolean means True or False)**

In [43]:
tup1 = (1,"python",2.5,True)
tup1

(1, 'python', 2.5, True)

In [45]:
# type of a tuple

type(tup1)

tuple

### - Indexing in tuple

In [46]:
tup1[1]

'python'

In [47]:
tup1[2]

2.5

In [49]:
# last element is exclusive

tup1[0:3]

(1, 'python', 2.5)

In [51]:
# count of element in tuple

len(tup1)

4

In [54]:
tup2 = (2,"hammad",5.5,False)
tup2

(2, 'hammad', 5.5, False)

In [55]:
# concatinate ( to add two or more tuples)

tup1+tup2

(1, 'python', 2.5, True, 2, 'hammad', 5.5, False)

In [72]:
# concatinate + repeat

tup1*2 + tup2

(1, 'python', 2.5, True, 1, 'python', 2.5, True, 2, 'hammad', 5.5, False)

**multiplying tuple gives repeatition**

In [60]:
tup3 = (20,30,40,55,98)
tup3

(20, 30, 40, 55, 98)

In [61]:
# minimum value in tuple

min(tup3)

20

In [62]:
max(tup3)

98

In [63]:
tup3*2

(20, 30, 40, 55, 98, 20, 30, 40, 55, 98)

---

## 2- List
- ordered collection of elements.
- enclosed in [ ] Square braces/brackets.
- Mutateable,you can change the values.

In [97]:
list1 = [1,"python",True]
list1

[1, 'python', True]

In [69]:
type(list1)

list

In [70]:
len(list1)

3

In [71]:
list1[2]

True

In [74]:
list2 = [3, 5, "hammad", "codanics", 478, 25.5, False] 
list2

[3, 5, 'hammad', 'codanics', 478, 25.5, False]

In [75]:
list1 + list2

[1, 'python', True, 3, 5, 'hammad', 'codanics', 478, 25.5, False]

In [76]:
list1*2

[1, 'python', True, 1, 'python', True]

In [77]:
list1

[1, 'python', True]

In [80]:
list1.reverse()
list1

[True, 'python', 1]

In [98]:
list1

[1, 'python', True]

In [99]:
list2.count("hammad")

1

In [101]:
list1.append("data scientis hammad mubarik")
list1

[1,
 'python',
 True,
 'data scientis hammad mubarik',
 'data scientis hammad mubarik']

In [102]:
list3 = [20, 30, 10, 9, 55, 100, 65, 87]
list3

[20, 30, 10, 9, 55, 100, 65, 87]

In [103]:
len(list3)

8

In [104]:
# sorting a list

list3.sort()
list3

[9, 10, 20, 30, 55, 65, 87, 100]

In [106]:
list3*3

[9,
 10,
 20,
 30,
 55,
 65,
 87,
 100,
 9,
 10,
 20,
 30,
 55,
 65,
 87,
 100,
 9,
 10,
 20,
 30,
 55,
 65,
 87,
 100]

In [108]:
list1 + list2

[1,
 'python',
 True,
 'data scientis hammad mubarik',
 'data scientis hammad mubarik',
 3,
 5,
 'hammad',
 'codanics',
 478,
 25.5,
 False]

In [109]:
lists = list1 + list2
lists

[1,
 'python',
 True,
 'data scientis hammad mubarik',
 'data scientis hammad mubarik',
 3,
 5,
 'hammad',
 'codanics',
 478,
 25.5,
 False]

## 3- Dictionaries
- An unordered collection of elements.
- Key and Value.
- curly braces or brackets { }.
- Mutateable/ Change the values.

In [110]:
#   Food and their Prices

food1 = {"Samosa":20, "Pakora":30, "Raita":70, "Salad":100, "Chicken Rolls":150}
food1

{'Samosa': 20, 'Pakora': 30, 'Raita': 70, 'Salad': 100, 'Chicken Rolls': 150}

In [112]:
type(food1)

dict

In [113]:
# Extract data

food1.keys()

dict_keys(['Samosa', 'Pakora', 'Raita', 'Salad', 'Chicken Rolls'])

In [114]:
keys1 = food1.keys()
keys1

dict_keys(['Samosa', 'Pakora', 'Raita', 'Salad', 'Chicken Rolls'])

In [115]:
food1.values()

dict_values([20, 30, 70, 100, 150])

In [118]:
values1 = food1.values()
values1

dict_values([20, 30, 70, 100, 150])

In [119]:
# adding new element

food1["Tikki"]=10
food1

{'Samosa': 20,
 'Pakora': 30,
 'Raita': 70,
 'Salad': 100,
 'Chicken Rolls': 150,
 'Tikki': 10}

In [126]:
#update the values

food1["Tikki"]=125
food1

{'Samosa': 20,
 'Pakora': 30,
 'Raita': 70,
 'Salad': 100,
 'Chicken Rolls': 150,
 'Tikki': 125,
 'tikki': 15}

In [127]:
food2 = {"Dates":20, "chocolates":70,"Aloo":1500}
food2

{'Dates': 20, 'chocolates': 70, 'Aloo': 1500}

In [130]:
# Concatinate        ( You have to update not by putting "+")

food1.update(food2)

In [131]:
food1

{'Samosa': 20,
 'Pakora': 30,
 'Raita': 70,
 'Salad': 100,
 'Chicken Rolls': 150,
 'Tikki': 125,
 'tikki': 15,
 'Dates': 20,
 'chocolates': 70,
 'Aloo': 1500}

## 4- Set
- unordered and unindexed.
- curly braces or brackets { }.
- no duplicates are allowed.

In [136]:
s1 = {1, 2.2 ,3.5, "hammad", "codanics", "rawalpindi", True }
s1

{1, 2.2, 3.5, 'codanics', 'hammad', 'rawalpindi'}

Note:  **No boleans are allowed**

In [138]:
s1.add("hammad")
s1

{1, 2.2, 3.5, 'codanics', 'hammad', 'rawalpindi'}

In [139]:
s1.add("hammad1")
s1

{1, 2.2, 3.5, 'codanics', 'hammad', 'hammad1', 'rawalpindi'}

In [140]:
s1.remove("hammad1")
s1

{1, 2.2, 3.5, 'codanics', 'hammad', 'rawalpindi'}